
<div class="bg-dark border-right p-3" id="sidebar">
  <h3 class="text-light">GifsApp</h3>
  <hr class="text-light">
  <div class="list-group list-reset">
    <button *ngFor="let tag of tags" 
    class="list-group-item list-group-item-action"
    (click)="searchTag(tag)"
    >{{ tag | titlecase }}</button>
  </div>

</div>


<!-- <div class="sidebar">
    <ul>
      <li><a routerLink="/home">Inicio</a></li>
      <li><a routerLink="/about">Acerca de</a></li>
      <li><a routerLink="/contact">Contacto</a></li>
    </ul>
  </div> -->